header {
    position: fixed;/*kut bon scrolle  nuk largohrt header*/
    top: 0;/*sa hapsir me pas ndermjet headerit edhe pjeses lart*/
    display: flex; /*i qet kto ne nje rresht i mundson mu rreshtu   */
    justify-content: space-between;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.prindi {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 40px;
    font-size: 20px;
    height: 72px;
    align-items: center;
}

.imazhi {
    width: 200px;
    height: 50px;
}
.prindi2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
a{
    text-decoration: none;
    color: #115779;
}
.div1{
    background-image: url(foto/Paris.png);
    
}
main{
    margin: 0 auto;
    width: 40px;
    height: 1200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0 ,0, 0, 0.1);
}